<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>databaseTesting</title>
    <style>
        .btn {
            cursor: pointer;
        }
    </style>
</head>
<body>
    Please subscribe to receive more from us 
    <form action = "/" method = "post" >
        <input type = "email" required placeholder="Enter email" name = "email"/>
        <input type = "wallet address" placeholder="evn wallet address" name = "wallet"/>
        <input type = "submit" value = "Submit"  class = "btn"/><br>
        <span style =  "margin-top: 5px; color: green; font-size: 10px; padding: 2px;"><%= msg %></span>
    </form>
  
</body>
</html>